body{
  background-image: url(../images/background/5.webp);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* letter-spacing: -0.04em; */
}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 135.5%;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    font-size: 138.5%;
}

:root {
  --border-color: #cccccc;
  /* --background-color: #f1f1f1; */
  --background-color: whitesmoke;
  --transition: all 0.2s ease;
}

main {
  /* height: 100dvh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 160%;
  padding-top: 160px;
  letter-spacing: -0.01em;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 65%;
}

.accordion .accordion-item {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.accordion .accordion-item .accordion-item-description-wrapper hr {
  border: none;
  border-top: 1px solid var(--border-color);
  visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
  visibility: visible;
}

.accordion .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  padding-left: 22px;
  cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
  font-weight: 600;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.accordion
  .accordion-item.open
  .accordion-item-header
  .accordion-item-header-icon {
  transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description {
  min-height: 0;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description
  p {
  padding: 10px;
  line-height: 1.5;
}

@media screen and (max-width:920px) {
  .accordion {
    width: 75%;
  }
}
@media screen and (max-width:800px) {
  .accordion {
    width: 78%;
  }
}
@media screen and (max-width:700px) {
  .accordion {
    width: 80%;
  }
}
@media screen and (max-width:450px) {
  .accordion {
    width: 83%;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.scl-sub-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 85%;
    margin-bottom: 1.4%;
}

.scl-sub-table th{
  background-color: #004776;
  color: whitesmoke;
}

.scl-sub-table td, .scl-sub-table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.scl-sub-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #b9e3ffb0;
  text-align: left;
  /* background-color: #000f55; */
  background-color: #004776;
  color: white;
  font-size: 108%;
  text-align: center;
}

.scl-sub-table tr:nth-child(even){background-color: #dad9d9;}
.scl-sub-table tr:nth-child(odd){background-color: #f5f5f5;}

#subSpan{
    background: linear-gradient(217deg, rgba(0, 200, 255, 0.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0, 166, 255, 0.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(8, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
    color: #004776;
    border-top: 1.4px solid #1b1b1b;
    border-bottom: 0px solid transparent;
}

#p6span{
  background: linear-gradient(217deg, rgba(255, 162, 0, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(255, 150, 0, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(255, 106, 0, 0.8), rgba(0,0,255,0) 70.71%);
  color: #004776;
  border-top: 1.4px solid #1b1b1b;
  border-bottom: 0px solid transparent;
}

#chspan{
  background: linear-gradient(217deg, rgba(170, 0, 255, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(183, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(144, 0, 255, 0.8), rgba(0,0,255,0) 70.71%);
  color: #004776;
  border-top: 1.4px solid #1b1b1b;
  border-bottom: 0px solid transparent;
}

#biospan{
  background: linear-gradient(217deg, rgba(0, 255, 149, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0, 255, 102, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0, 213, 255, 0.8), rgba(0,0,255,0) 70.71%);
  color: #004776;
  border-top: 1.4px solid #1b1b1b;
  border-bottom: 0px solid transparent;
}

#sclTermSpace{
    background-color: #1b1b1b;
    padding: 1.2px;
}

/* Coming Soon styles starts */

.coming-soon-container h1{
  color: whitesmoke;
  margin-left: 0.7%;
  margin-top: 0.7%;
  padding-top: 10px;
}

.coming-soon {
  color: whitesmoke;
  font-size: 7em;
  font-weight: bold;
  /* display: flex; */
  letter-spacing: -1px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.coming-soon p{
  text-align: center;
}

.coming-soon span {
  opacity: 0;
  transform: scale(0.5);
  animation: popIn 0.5s forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes popIn {
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@media (max-width: 920px) {
  .coming-soon {
      font-size: 6.6em;
  }
}
@media (max-width: 638px) {
  .coming-soon {
      font-size: 6.3em;
  }
}
@media (max-width: 576px) {
  .coming-soon {
      font-size: 5.8em;
  }
}
@media (max-width: 490px) {
  .coming-soon {
      font-size: 5.3em;
      top: 40%;
  }
}
@media (max-width: 430px) {
  .coming-soon {
      font-size: 4.8em;
  }
}
@media (max-width: 390px) {
  .coming-soon {
      font-size: 4.2em;
      top: 36%;
  }
}
@media (max-width: 340px) {
  .coming-soon {
      font-size: 3.7em;
  }
}
@media (max-width: 300px) {
  .coming-soon {
      font-size: 3.2em;
      top: 33%;
  }
}
/* Coming Soon styles ends */

@media screen and (max-width:3840px) {
  .coming-soon-container h1{
    margin-top: 4%;
  }
}
@media screen and (max-width:1920px) {
  .coming-soon-container h1{
    margin-top: 2%;
  }
}
@media screen and (max-width:1280px) {
  .coming-soon-container h1{
    margin-top: 1%;
  }
}
@media screen and (max-width:850px) {
  .coming-soon-container h1{
    margin-top: 4%;
  }
}
@media screen and (max-width:800px) {
  .coming-soon-container h1{
    margin-top: 5%;
  }
}
@media screen and (max-width:620px) {
  .coming-soon-container h1{
    margin-top: 2.7%;
  }
}
@media screen and (max-width:500px) {
  .coming-soon-container h1{
    margin-top: 5.7%;
  }
}
@media screen and (max-width:390px) {
  .coming-soon-container h1{
    margin-top: 6%;
  }
}
@media screen and (max-width:360px) {
  .coming-soon-container h1{
    margin-top: 5.7%;
  }
}
@media screen and (max-width:340px) {
  .coming-soon-container h1{
    margin-top: 11.7%;
  }
}
@media screen and (max-width:320px) {
  .coming-soon-container h1{
    margin-top: 13.7%;
  }
}@media screen and (max-width:300px) {
  .coming-soon-container h1{
    margin-top: 15.7%;
  }
}